<h1>{{Informaçoes do Entregador}}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
<!--mat-form-field appearance="fill"-->
<mat-form-field> 
<mat-label>Nome do Entregador</mat-label>
<input name="nome" [(ngModel)]="entregador.nome" matInput required
    placeholder="Informe o nome do entregador">
</mat-form-field>

<mat-form-field> 
<mat-label>Numero de CPF</mat-label>
<input name="rg" [(ngModel)]="entregador.cpf" matInput required
    placeholder="Informe o numero de cpf" mask="000.000.000-0" [dropSpecialCharacters]="false">
</mat-form-field> 

<mat-form-field> 
<mat-label>Numero de telefone</mat-label>
<input name="rg" [(ngModel)]="entregador.telefone" matInput required
    placeholder="Informe o numero de telefone" mask="000.000.000" [dropSpecialCharacters]="false">
</mat-form-field> 

<mat-form-field> 
<mat-label>valor pela entrega</mat-label>
<input name="valor_entrega" [(ngModel)]="entrega.valor_entrega" matInput required
    placeholder="Informe o valor da entrega" type="number">
</mat-form-field>



<!-- No curso-form.component.ts, imediatamente ANTES do </form> -->
  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>


</form>
